
body{
  background-color: #3CAA51;
}
.App {
  position: relative;
  text-align: center;
  
  
}

.content {

  border-radius: 20px;
  box-shadow: 15px 15px 5px 6px rgb(47, 26, 26);
  margin-top:250px;
  margin-left:100px;
  margin-right: 50px;
  background-color: #fff;
  width: 800px;
  height: 800px;
}



.content input{
  margin: 5px;
  border: 2px solid #2aacf3;
  border-radius: 5px;
  width: 40%;
  height: 50px;
  font-size: 18px;
}

.content button{

  margin-top: 150px;
  width: 20%;
  height: 50px;
  border-radius: 5px;

}



.spline{
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
}